@model IEnumerable<ex.Models.View.UserViewModel>



@{
    ViewData["Title"] = "allUser";
    Html.RenderPartial("_Sort", new ex.Models.Binding.FilterDto());
}


<h1>Кандидати: </h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Пореден номер
            </th>
            <th>
                Име
            </th>
            <th>
                Отдел
            </th>
            <th>
                Образование
            </th>
            <th>
                Точки
            </th>
            <th>
                Дата на раждане
            </th>
            <th>
                КОД
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
            </tr>
        }
    </tbody>
</table>
