@model IEnumerable<GitApp.Views.Repository.Dto.RepositoryListOutDto>

@{
    ViewData["Title"] = "All";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Public</h2>
                    <p>Repositories</p>
                </div>

                <div class="d-flex justify-content-center">
                    <a class="btn btn-block btn-primary text-white mb-3" asp-controller="Repository" asp-action="Create">Create a repository</a>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Owner)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateOn)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CommitCount)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Owner)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateOn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CommitCount)
                                    </td>
                                    <td>
                                        <a asp-controller="Commit" asp-action="Create" asp-route-id="@item.Id">Commit</a> |
                                                                            </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
