@using BattleCards_App.Dto

@model CardVM
@{
    ViewData["Title"] = "Create Card";
}


<h1 class="text-center mt-2">Create Card</h1>
<div class="row mt-4 mb-4">
    <div id="card" class="card col-6 col-lg-3 game-card h-100 m-auto">
        <img id="card-image"
             src="@Model.ImageUrl"
             class="card-img-top img-fluid card-image">
        <div class="card-body">
            <h5 id="card-name" class="card-title text-center" data-toggle="tooltip" data-placement="bottom"
                title="Description:<br>@Model.Description">
                @Model.Name
            </h5>
            <ul class="list-group list-group-flush">
                <li id="card-keyword" class="list-group-item text-center">@Model.Keyword</li>
                <li class="list-group-item">
                    <span id="card-attack" class="attack-stat">@Model.Attack</span><span id="card-health" class="health-stat">@Model.Healt</span>
                </li>
            </ul>
        </div>
    </div>
    <form class="col-6 col-lg-9"asp-controller="Cards" asp-action="CreatePost">
        <div class="form-group">
            <label for="name-input">Name</label>
            <input  type="text" class="form-control" asp-for="@Model.Name">
        </div>
        <div class="form-group">
            <label for="image-input">Image URL</label>
            <input type="text" class="form-control" asp-for="@Model.ImageUrl" >
        </div>
        <div class="form-group">
            <label for="keyword-input">Keyword</label>
            <select name="keyword" class="form-control" id="keyword-input">
                <option value="Tough">Tough</option>
                <option value="Challenger">Challenger</option>
                <option value="Elusive">Elusive</option>
                <option value="Overwhelm">Overwhelm</option>
                <option value="Lifesteal">Lifesteal</option>
                <option value="Ephemeral">Ephemeral</option>
                <option value="Fearsome">Fearsome</option>
            </select>
        </div>
        <div class="form-group">
            <label for="attack-input">Attack</label>
            <input  type="number" class="form-control" asp-for="@Model.Attack">
        </div>
        <div class="form-group">
            <label for="health-input">Health</label>
            <input type="number" class="form-control" asp-for="@Model.Healt">
        </div>
        <div class="form-group">
            <label for="description-input">Description</label>
            <textarea  class="form-control" asp-for="@Model.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Create</button>
    </form>
</div>